body {
    margin: 0;
    padding: 0;
}

.pp-header {
    background-color: #003087;
    height: 90px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
}

.pp-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.pp-logo img {
    height: 40px;
    filter: brightness(0) invert(1);
}

.pp-nav {
    display: flex;
    gap: 50px;
    font-size: 16px;
    cursor: pointer;
}

.pp-nav span {
    display: flex;
    align-items: center;
}

.pp-nav span.active {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 18px;
    border-radius: 20px;
}

.nav-icons {
    display: flex;
    gap: 20px;
}

.amount-container {
    width: 550px;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    position: relative;
}

.user-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.user-bubble {
    width: 55px;
    height: 55px;
    background: #70C0FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.send-section {
    margin-top: 25px;
}

.user-name {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

.label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
    font-family: Arial, sans-serif;
}

.amount-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 40px;
    position: relative;
}

.amount-input {
    flex: 1;
    border: none;
    font-size: 40px;
    outline: none;
    font-family: Arial, sans-serif;
}

.currency-button,
.receive-currency {

    background: #eee;
    border-radius: 20px;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.receive-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
}

.receive-amount {
    font-size: 40px;
    font-family: Arial, sans-serif;
    display: inline-block;
    transform: translateX(-23px);
}

.hidden {
    display: none !important;
}

.message-box {
    margin-top: 15px;
    position: relative;
}

.message-box textarea {
    width: 100%;
    height: 95px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#exchange-rate {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.char-counter {
    position: absolute;
    right: 12px;
    bottom: 10px;
    font-size: 13px;
    color: #777;
}

.currency-dropdown {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-family: Arial, sans-serif;

}

.currency-close {
    background: none;
    border: none;
    cursor: pointer;

    width: 40px;       
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #444;
    font-size: 22px;

    border-radius: 50%;
    transition: 0.2s ease;
}

.currency-close:hover {
    background: #f2f2f2;
}

.currency-dropdown-inner {
    width: 600px;
    height: 500px;
    background: white;
    border-radius: 18px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.currency-search-input {
    border: 2px solid #0070e0;
    border-radius: 14px;
    padding: 12px 16px;
    width: 80%;
    margin-bottom: 15px;
}

.currency-item {
    display: flex;
    gap: 15px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.currency-item:hover {
    background: #f3f3f3;
}

.currency-flag {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.action-buttons button {
    background: black;
    color: white;
    padding: 12px 35px;
    font-size: 16px;
    border-radius: 25px;
}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}