
.amount-box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}


.user-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-bubble {
    width: 55px;
    height: 55px;
    background: #70C0FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.user-name {
    font-size: 20px;
    font-weight: 600;
}

.label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.amount-row,
.receive-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    gap: 10px;
}
.amount-row .currency-button {
    margin-left: -50px;  
}

.amount-input {
    flex: 1;
    border: none;
    background: none;
    font-size: 40px;
    outline: none;
}

.currency-button {
    background: #eee;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    font-size: 14px;
    display: flex;
    gap: 6px;
    cursor: pointer;

}

.receive-amount {
    font-size: 40px;
}

.message-box {
    position: relative;
}

.message-box textarea {
    width: 100%;
    height: 95px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.char-counter {
    position: absolute;
    right: 12px;
    bottom: 10px;
    font-size: 13px;
    color: #777;
}

.send {
    background: black;
    color: white;
    padding: 12px 35px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
}

.send:disabled {
    background: grey;
    color: #ddd;
    opacity: 0.5;
    cursor: not-allowed;
}

.currency-dropdown {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.currency-dropdown-inner {
    width: 600px;
    max-width: 90%;
    height: 500px;
    background: white;
    border-radius: 18px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.currency-item {
    display: flex;
    gap: 15px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.currency-item:hover {
    background: #f3f3f3;
}

.currency-flag {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.currency-top-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.currency-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    color: #555;
}

.currency-close:hover {
    color: #000;
}

.currency-search-input {
    flex: 1;
    border: 2px solid #0070e0;
    border-radius: 14px;
    padding: 10px 14px;
}
.hidden {
    display: none !important;
}