body {
    margin: 0;
    padding: 0;
}
.pp-header {
    background-color:#003087 ; 
    height: 90px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
}
.pp-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.pp-logo img {
    height: 40px;
    width: auto;
    margin-left: 60px;
    filter: brightness(0) invert(1);
}
.pp-nav {
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 300px;
    align-items: center;
    cursor: pointer;
}
.pp-nav span.active {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 600;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}
.nav-icons i {
    font-size: 20px;
    cursor: pointer;
}
.pp-logout {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-right: 40px;
}


.amount-container {
    width: 550px;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: relative;
}

.user-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;

}
.user-bubble {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #70C0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, sans-serif;

}
.user-name {
    font-weight: 700;
    font-size: 20px;
}


.amount-row {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 12px;
    font-size: 40px;
    margin-bottom: 25px;
    padding-right: 60px;
}

.amount-input {
    flex: 1;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 40px;
}
.currency-button {
    position: absolute;
    right: 40px; 
    top: 140px;      
    transform: translateY(-50%);

    background: #eee;
    border-radius: 20px;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 14px;
}


.message-box {
    margin-top: 20px;
    position: relative;
}
.message-box textarea {
    width: 100%;
    height: 95px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 12px;
    outline: none;
}
.char-counter {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #999;
    font-size: 13px;
    font-family: Arial, sans-serif;

}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}
.action-buttons button {
    background: black;
    color: white;
    border: none;
    padding: 12px 35px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}


#currency-dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#currency-dropdown.hidden {
    display: none;
}

.currency-dropdown-inner {
    width: 600px;
    height: 500px;           
    padding: 20px 30px;
    border-radius: 18px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Arial, sans-serif;

}

.currency-header-row {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 20px;
}

.currency-close {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #555;
    padding: 5px;
    position: relative; 
}
.currency-search-input {
    width: 80%;
    padding: 14px 18px;
    border: 2px solid #0070e0;
    border-radius: 14px;
    font-size: 16px;
    outline: none;

    margin-bottom: 25px;
}


.currency-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.currency-item {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 14px 10px;
    cursor: pointer;

    border-radius: 10px;
    transition:  0.15s ease;
}

.currency-item:hover {
    background: #f3f3f3;
}


.currency-flag {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    object-fit: cover;
}


.currency-text strong {
    font-size: 17px;
    font-weight: 600;
}

.currency-text span {
    font-size: 14px;
    color: #555;
}