
#result-box.success {
    border: 3px solid #0c7a35;
}

#result-box.error {
    border: 3px solid #c72c41;
}

.fee-info {
    margin-top: 10px;
    color: #444;
    font-size: 15px;
}

.hidden {
    display: none;
}