.search-result:hover {
    background: #f2f6ff;
    cursor: pointer;
}

.pp-bubble {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background:#003087;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

#next-btn {
    cursor: pointer;
}

#next-btn:disabled {
    cursor: not-allowed;
    pointer-events: auto;
}