body {
    margin: 0;
    padding: 0;
}

.pp-header {
    background-color:#003087 ; 
    height: 90px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
}

.pp-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.pp-logo img {
    height: 40px;
    width: auto;
    margin-left: 60px;
    filter: brightness(0) invert(1);
}

.pp-nav {
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 300px;
    align-items: center;
    cursor: pointer;
}

.pp-nav span.active {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 600;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}

.nav-icons i {
    font-size: 20px;
    cursor: pointer;
}

.pp-logout {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-right: 40px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 40px auto 0 auto;
}

.page-title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.right-title {
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    margin-right: 200px
}

.pp-search-user {
    width: 650px;
    height: 55px;
    background-color: white;
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    display: flex;
    padding: 0 20px;
    gap: 15px;
    margin: 40px auto;
    margin-top: 25px;
    margin-left: 100px;
    font-family: Arial, sans-serif;
    position: relative;
}
.pp-search-user i {
    font-size: 18px;
    color: #828282;
    align-self: center;
}

#user-search {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.search-dropdown {
    position: absolute;
    width: 550px;
    top: 100%;          
    left: 0;
    background: white;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    margin-top: 0px;
    padding: 10px 0;
    z-index: 999;
    display: none;
}

.search-dropdown.visible {
    display: block;
}
.search-item {
    padding: 14px 22px;
    cursor: pointer;
    transition: 0.15s ease;
}

.search-item:hover {
    background: #f3f3f3;
}

.search-item-inner {
    display: flex;
    align-items: center;
    gap: 18px;
}

.search-bubble {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background:#003087;   
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;

}

.search-item span {
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.next-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.next-button button {
    padding: 12px 40px;
    border-radius: 30px;
    border: 1px solid #d3d3d3;
    background: #f2f4f7;
    color: #c0c3c7;
    font-size: 16px;
    cursor: not-allowed;
    margin-right: 1100px;
}

.recent-users {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-right: 850px;
}

.user {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;    
    align-items: center;        
    
}

.bubble {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    cursor: pointer;
}

.contact-name {
    margin-top: 8px;
    font-weight: 500;
    color: #333;
    align-items: center;
}